.sectionFour {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.childSection-four-2 {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.childSection-four-2 > div {
  margin-top: 10px;
}
.btn-card-div {
  background: #a12f2f !important;
  margin-right: 10px;
  border: 0px transparent !important;
  color: #fff;
  padding: 12px 20px 12px 20px !important;
  padding-left: 30px;
  font-size: 14.17px;
  font-weight: 700;
  margin-top: 10px;
  letter-spacing: 1px;
  box-shadow: 0.5rem 0.5rem #dfdfdf;
  border-radius: 0 !important;
}

.btn-card-div:hover {
  cursor: pointer;
  box-shadow: 0.5rem 0.5rem #c59051;
}
.sectionFour > h3 {
  margin-top: 20px;
}
@media screen and (max-width: 424px) {
  .card {
    width: 20rem !important;
  }
}
@media screen and (max-width: 310px) {
  .card {
    width: 15rem !important;
  }
}
